.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  scroll-behavior: smooth;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: #0e021d;
  border: none;
  padding: 10px 20px;
  color: #fff;
}
.search-button:hover {
  background: rgb(9, 122, 214);
}
.recipes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  flex-wrap: wrap;
}
img {
  margin: 30px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.banner-text {
  color: #dcb0ed;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 30px;
}

@media screen and (max-width: 1200px) {
  .App {
    background-image: linear-gradient(to top, #095757 0%, #d7cae6 100%);
  }
  .recipes {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
  }
  img {
    margin: 30px;
    border-radius: 5px;
    max-width: 80%;
  }
  h5 {
    text-align: center;
  }
  .banner-text {
    color: #550d72;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 30px;
  }
}
